.about-container {
    padding: 1em 2em;
    text-align: start;
}

.about-container p {
    line-height: 1.3rem;
}

.about__img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

@media (width >= 750px) {
    .about__img {
        height: 400px;
    }
}