.sponsors-container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
}

.full-row {
    grid-column: 1 / -1;
}