.artistItemDetail__body {
    padding: 1em 2em;
    /* border-radius: 15px; */
    text-align: left;
    line-height: 1.3rem;
}

.artistItemDetail__img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

@media (width >= 750px) {
    .artistItemDetail__img {
        height: 400px;
    }
}
