.artistItemDetail__body {
    padding: 1em 2em;
    /* border-radius: 15px; */
    text-align: left;
    line-height: 1.3rem;
}

.artistItemDetail__img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.artistItemDetail__specialty {
    font-size: 1.25rem;
    opacity: .65;
}

@media (width >= 750px) {
    .artistItemDetail__img {
        height: 500px;
    }
}
