.schedItem {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1.25em;
    padding: 1.25em .5em;
    border-bottom: solid .5px rgba(0,0,0,.1);
}

.schedItem__img {
    flex-basis: 125px;
    width: 100%;
}

.schedItem__body {
    text-align: left;
}

.schedItem__body-location {
    display: flex;
    gap: .5em;
    align-items: center;
}

.schedItem__body-title {
    margin: 0 0 .3em 0;
}

.schedItem__body-artist {
    font-size: 1.15rem;
    margin: .3em 0;
}

.schedItem__body-date {
    margin: .2em 0;
    opacity: .75;
}

.icon-purple {
    color: #830053;
}